*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: roboto, sans-serif;
    background-color: #FFFFFF;
    color: var(--brand-color1);
    letter-spacing: 0.02em;
    }

:root {
    --brand-color1: #2E2F42;
    --brand-color2: #F4F4FD;
    --brand-color3: #4D5AE5;
    --brand-color4: #FFFFFF;
    --brand-color5: #434455;
    --brand-color6: #E7E9FC;
    --brand-color7: #404BBF;
}

.container {
    max-width: 1158px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.section {
    padding-top: 120px;
    padding-left: 0px;
    padding-bottom: 120px;
    padding-right: 0px;
}

.header-wrapper {
display: flex;
justify-content: space-between;
height: 72px;
border-bottom: 1px solid var(--brand-color6);
align-items: center;
}

.header-wrapper > nav {
    display: flex;
    gap: 2em;
}

.header-wrapper > nav > .navigation {
    display: flex;
    gap: 1em;
    list-style-type: none;
}

.header {
    border-block-end: var(--brand-color6);
    border-bottom: 1px;
}

.web-studio1 {
    font-family: raleway;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    color: var(--brand-color1);
    margin-left: 156px;
    width: 115px;
}

.web {
    color: var(--brand-color3);
}

.navigation {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--brand-color1);
    width: 261px;
    display: flex;
    justify-content: space-between;
}


.h1-portfolio {
    position: absolute;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}

.link1 {
    color: var(--brand-color1);
}


.link1:hover,
.link1:focus {
    color: var(--brand-color7);
}

.address {
    font-size: 16px;
    line-height: 1.5;
    color: var(--brand-color5);
}

.link2 {
    color: var(--brand-color5);
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
}

.link2:hover,
.link2:focus {
        color: var(--brand-color7);
}

.first-section {
    background-color: var(--brand-color1);
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

}

.second-section {
    height: 104px;
}

.first-list {
display: flex;
gap: 8px;
}

.head1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;
    text-align: center;
    color: var(--brand-color4);
    display: flex;
    flex-wrap: wrap;
    width: 496px;
    margin: 0 auto;    
}

.order-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--brand-color4);
    background-color: var(--brand-color3);
    box-shadow: 0px 4px 4px 0px #00000026;
    cursor: pointer;
    font-family: inherit;
    letter-spacing: 0.04em;
    margin: 0 auto;
    display: flex;
    padding: 16px 32px;
    gap: 10px;
    border-radius: 4px;
}

.order-button:hover,
.order-button:focus {
    background-color: var(--brand-color7);        
}

.head2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    padding: 0 16px 0 16px;
    width: 264px;
}

.list-element {
    display: flex;
    flex-direction: column;
    gap: 8px;       
}

.paragraph1 {
    font-size: 16px;
    line-height: 1.5;
    color: var(--brand-color5);
    padding: 0 16px 0 16px;
    height: 72px;    
    width: 264px;
    letter-spacing: 0.02em;
}

.head3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}

.portfolio-container {
    border: 100px;
    gap: 8px;
    padding: 16px;

}
.what-are-we-doing-list {
    color: var(--brand-color6);
    border: 1px;
    border-color: var(--brand-color6);
    display: flex;
    gap: 24px;
    border: 1px;
    border-style: solid;

}

.our-team-list {
    display: flex;
    padding: 0px 0px 32px 0px;
    column-gap: 24px;
    padding: 0px 0px 32px 0px;
    }


.third-section {
    background-color: var(--brand-color2);
}

.head4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
}

.paragraph2 {
    font-size: 16px;
    line-height: 1.5;
    color: var(--brand-color5);
    text-align: center;
}

.web-studio2 {
    font-family: raleway;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    color: var(--brand-color2);
}

.paragraph3 {
    font-size: 16px;
    line-height: 1.5;
    color: var(--brand-color2);
}

.footer {
    background-color: var(--brand-color1);
    display: flex;
}

.main-menu {
    display: flex;
    gap: 24px;
    justify-content: center;
   
}

.portfolio-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    border-style: 1px;
    border-color: var(--brand-color6);
    color: var(--brand-color3);
    background-color: var(--brand-color6);
    background-color: var(--brand-color2);    
    cursor: pointer;
    font-family: inherit;
    letter-spacing: 0.04em;
    padding: 12px 24px 12px 24px;
    border-radius: 4px;
}

.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--brand-color4);
    background-color: var(--brand-color7);
    box-shadow: 0px 2px 2px 0px #0000001F;
    box-shadow: 0px 2px 1px 0px #00000014;
    box-shadow: 0px 3px 1px 0px #0000001A;
}

.portfolio-list>img {
    color: var(--brand-color6);
    color: var(--brand-color4);
    border: 1px;
    border-color: var(--brand-color6)
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    border: 1px;
    gap: 20px;
}